.bg{
    width:100%;
    height: 663px;
    /*background: red;*/
    background-image: url(http://57e243aaa779a.t73.qifeiye.com/qfy-content/uploads/2016/10/f549634402d680ae8cccd5a6039000b5.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center top;
}
.bg_black{
    background-color: rgba(28,28,28,0.7);
    width: 100%;
    height: 663px;
}
.bg .bg_black .head{
    width: 100%;
    padding:35px 40px 35px 40px;
    height: 100px;
    display: block;
    /*background:green;*/
}
.bg .bg_black .head .left{
    /*width:130px;*/
    float: left;
    /*background: red;*/
}
.bg .bg_black .head .left img{
    width: 130px;
    height: 30px;
}
.bg .head ul{
    /*width:682px;*/
    /*height: 30px;*/
    /*background: yellow;*/
    margin-bottom: 0;
    float: left;
    position: relative;
    margin-left: 55px;
}
.bg .head ul li{
    height: 30px;
    /*background:orange;*/
    margin-left:55px;
    float: left;
}
.bg .head ul li a{
    padding: 3px 0;
}
.bg .head ul li span{
    font-size: 16px;
    color: #efefef;
    line-height: 30px;
}
.bg .head ul li i{
    width: 32px;
    height: 1px;
    background: #efefef;
    position: absolute;
    left: 55px;
    top:35px;
}
.bg .head .right {
    width: 156px;
    /*background: blue;*/
    padding: 3px 0 3px 0;
    float: right;
}
.bg .bg_black .head .right .pic{
    width: 27px;
    height:24px;
    float: left;
}
.bg .bg_black .head .right .pic img{
    width: 27px;
    height:24px;
}
.bg .bg_black .head .right .shu{
    height: 20px;
    width: 1px;
    background: #efefef;
    margin: 2px 10px 0 10px;
    float: left;
}
.bg .bg_black .head .right h1{
    font-size: 20px;
    color: #fff;
    margin: 0;
    height: 24px;
    line-height:24px;
}
.head_min{
    width: 100%;
    height: 48px;
    background: #36D3DB;
    display: none;
    /*margin-top: -20px;*/
}
.head_min .left{
    height: 48px;
    width: 48px;
    /*background: red;*/
    margin: 0 auto;
    /*float: left;*/
}
.head_min .left h1{
    font-size: 20px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    margin: 0;
}
.head_min .right{
    height: 48px;
    width: 48px;
    /*background:red ;*/
    float: right;
    margin-top: -48px;
}
.head_min .right img{
    width: 14px;
    height: 14px;
    display: block;
    margin: 0 auto;
}
.bg .bg_black .body{
    width: 100%;
    height: 76px;
    margin: 223px auto;
}
.bg .bg_black .body h1{
    height: 36px;
    margin: 0;
    font-size: 36px;
    text-align: center;
    color: #FFF;
}
.bg .bg_black .body h2{
    height:20px;
    margin: 20px 0 0 0;
    font-size: 20px;
    text-align: center;
    color: #FFF;
}
.bottom {
    padding: 20px 0 45px 0;
    width: 100%;
    height: 248px;
    background-color: rgba(0,0,0,0.8);
    margin: 0;
}
.bottom li{
    /*background: green;*/
    height: 183px;
    /*border: 1px solid #fff;*/
    padding: 30px 15px 0 15px;
}
.bottom li img{
    width: 90px;
    height: 82px;
    display: block;
    margin: 0 auto;
}
.bottom li h1{
    font-size: 13px;
    font-family: "微软雅黑";
    color: #A9A9A9;
    text-align: center;
    line-height: 30px;
}
.section_one{
    height: 100%;
    width: 100%;
    /*background: red;*/
    padding-bottom: 100px;
}
.section_one .header{
    height: 100%;
    width: 100%;
    padding: 53px 290px 25px 290px;
}
.section_one .header h1{
    font-family:"微软雅黑";
    font-size:34px;
    font-weight:normal;
    font-style:normal;
    color:#494949;
    text-align: center;
    margin: 0;
}
.section_one .header h2{
    padding:10px 0 20px 0;
    font-size: 16px;
    color: #8d9095;
    text-align: center;
    margin: 0;
}
.section_one .header .bot_bor{
    height: 2px;
    width: 68px;
    background: #36d3db;
    margin: 20px auto;
}
.section_one ul{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}
.swiper-container {
    width: 380px;
    height: 390px;
}
.section_one ul li{
    height: 390px;
    background-color: rgba(54,211,219,0.9);
    padding: 0 0 79px 0;
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
}
.section_one ul li .lii{
    height: 390px;
}
.section_one ul li .lii:hover{
    box-shadow: 0 15px 30px rgba(159,159,159,0.2) ;
    cursor: pointer;
    /*transform: translateY(-5px);*/
}

.section_one ul li .icon{
    height:225px;
    padding: 97px 0 64px 0;
}
.section_one ul li .icon img{
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto;
}
.section_one ul li .bot{
    width: 60px;
    height: 4px;
    margin: 0 auto 60px;
    background: #fff;
}
.section_one ul li h1{
    font-size:20px;
    font-weight:normal;
    font-style:normal;
    color:#ffffff;
    margin: 0;
    text-align: center;
}
.section_two{
    height: 100%;
    width: 100%;
    background: #F2F2F2;
}
.section_two .header{
    height: 100%;
    width: 100%;
    padding: 53px 290px 25px 290px;
}
.section_two .header h1{
    font-family:"微软雅黑";
    font-size:34px;
    font-weight:normal;
    font-style:normal;
    color:#494949;
    text-align: center;
    margin: 0;
}
.section_two .header h2{
    padding:10px 0 20px 0;
    font-size: 16px;
    color: #8d9095;
    text-align: center;
    margin: 0;
}
.section_two .header .bot_bor{
    height: 2px;
    width: 68px;
    background: #36d3db;
    margin: 20px auto;
}
.section_two ul{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}
.section_two ul li{
    height: 244px;
    background-color: #fff;
    padding: 40px 34px 38px 34px;
    border:5px solid #f2f2f2;
}
.section_two ul li .icon{
    height:58px;
}
.section_two ul li .icon img{
    width: 58px;
    height:58px;
    display: block;
    margin: 0 auto;
}
.section_two ul li h2{
    font-size:20px ;
    margin: 25px auto 25px;
    color: rgb(51,51,51);
    text-align: center;
}
.section_two ul li h1{
    font-size:16px;
    font-weight:normal;
    font-style:normal;
    color: rgb(105,105,105);
    text-align: center;
}
.section_two .btn{
    width: 100%;
    height: 100%;
    padding: 64px 0 100px 0;
}
.section_two .btn .content{
    width: 178px;
    height: 46px;
    background:#36d3db ;
    border-radius: 70px;
    margin: 0 auto;
    cursor: pointer;
}
.section_two .btn .content:hover{
    background: white;
    border: 1px solid #36d3db;

}
.section_two .btn .content:hover h1{
    color: #36d3db;
}
.section_two .btn .content h1{
    font-family: "微软雅黑";
    font-size: 16px;
    color: #fff;
    line-height: 46px;
    margin: 0;
}
.section_three{
    width: 100%;
    /*background: beige;*/
    padding: 20px 15px 64px 10px;
}
.swiper-container {
    width: 278px;
    height: 524px;
}
.section_three ul .pic .imgs{
    width: 278px;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.section_three ul .pic .imgs img{
    width: 278px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 278px;
}
/*.section_three ul .pic img{*/
    /*height: 493px;*/
    /*width: 278px;*/
    /*display: block;*/
    /*margin: 0 auto;*/
/*}*/
.section_three ul{
    width: 100%;
    position: relative;
}
.section_three ul .pic{
    /*background: antiquewhite;*/
    height: 524px;
    padding: 24px 13px 0 13px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.section_three ul .pic:hover .left-btn{
    opacity: 1;
}
.section_three ul .pic:hover .right-btn{
    opacity: 1;
}
.section_three ul .left-btn{
    width: 32px;
    height: 32px;
    background: #888;
    position: absolute;
    top: 50%;
    left: 0;
    color: #fff;
    text-align: center;
    font-size: 20px;
    opacity: 0;
    transition: all .5s;
}
.section_three ul .right-btn{
    width: 32px;
    height: 32px;
    background: #888;
    position: absolute;
    top: 50%;
    right: 0;
    color: #fff;
    text-align: center;
    font-size: 20px;
    opacity: 0;
    transition: all .5s;
}
.section_three ul .pic .dot{
    /*background: green;*/
    height: 12px;
    width: 66px;
    position: absolute;
    bottom: 30px;
    left: 40%;
}
.section_three ul .pic .dot .small{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(168,168,168,0.6);
    border: 3px solid rgba(0,0,0,0.6);
    float: left;
    margin: 0 5px 0 5px;
}
.section_three ul .pic .dot .small.active{
    background: white;
}
.section_three ul .word{
    /*width: 100%;*/
    padding: 22px 0 0 0;
}
.section_three ul .word h1{
    font-family:"微软雅黑";
    font-size:20px;
    font-weight:normal;
    font-style:normal;
    color:#494949;
    text-align: center;
}
.section_three ul .word h2{
    font-size: 13px;
    color: rgb(141, 144, 149);
    margin: 20px 0 0 0;
    line-height: 2em;
}
.section_three .btn{
    width: 100%;
    height: 100%;
    padding: 44px 0 50px 0;
}
.section_three .btn .content{
    width: 178px;
    height: 46px;
    background:#36d3db ;
    border-radius: 70px;
    margin: 0 auto;
    cursor: pointer;
}
.section_three .btn .content:hover{
    border: 1px solid #36d3db;
    background: white;
}
.section_three .btn .content:hover h1{
    color:#36d3db ;
}
.section_three .btn .content h1{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #fff;
    line-height: 46px;
    margin: 0;
}
.section_four{
    width: 100%;
    background: #F2F2F2;
    padding: 20px 15px 64px 10px;
}
.section_four ul{
    width: 100%;
    position: relative;
}
.section_four ul .pic .imgs{
    width: 278px;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.section_four ul .pic .imgs img{
    width: 278px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 278px;
}
/*.section_three ul .pic img{*/
/*height: 493px;*/
/*width: 278px;*/
/*display: block;*/
/*margin: 0 auto;*/
/*}*/
.section_four ul{
    width: 100%;
    position: relative;
}
.section_four ul .pic{
    /*background: antiquewhite;*/
    height: 524px;
    padding: 24px 13px 0 13px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.section_four ul .pic:hover .left-btn{
    opacity: 1;
}
.section_four ul .pic:hover .right-btn{
    opacity: 1;
}
.section_four ul .left-btn{
    width: 32px;
    height: 32px;
    background: #888;
    position: absolute;
    top: 50%;
    left: 0;
    color: #fff;
    text-align: center;
    font-size: 20px;
    opacity: 0;
    transition: all .5s;
}
.section_four ul .right-btn{
    width: 32px;
    height: 32px;
    background: #888;
    position: absolute;
    top: 50%;
    right: 0;
    color: #fff;
    text-align: center;
    font-size: 20px;
    opacity: 0;
    transition: all .5s;
}
.section_four ul .pic .dot{
    /*background: green;*/
    height: 12px;
    width: 66px;
    position: absolute;
    bottom: 30px;
    left: 40%;
}
.section_four ul .pic .dot .small{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(168,168,168,0.6);
    border: 3px solid rgba(0,0,0,0.6);
    float: left;
    margin: 0 5px 0 5px;
}
.section_four ul .pic .dot .small.active{
    background: white;
}
.section_four ul .word{
    /*width: 100%;*/
    padding: 22px 0 0 0;
}
.section_four ul .word h1{
    font-family:"微软雅黑";
    font-size:20px;
    font-weight:normal;
    font-style:normal;
    color:#494949;
    text-align: center;
}
.section_four ul .word h2{
    font-size: 13px;
    color: rgb(141, 144, 149);
    margin: 20px 0 0 0;
    line-height: 2em;
}
.section_four .btn{
    width: 100%;
    height: 100%;
    padding: 44px 0 50px 0;
}
.section_four .btn .content{
    width: 178px;
    height: 46px;
    background:#36d3db ;
    border-radius: 70px;
    margin: 0 auto;
    cursor: pointer;
}
.section_four .btn .content:hover{
    border: 1px solid #36d3db;
    background: white;
}
.section_four .btn .content:hover h1{
    color:#36d3db ;
}
.section_four .btn .content h1{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #fff;
    line-height: 46px;
    margin: 0;
}
.section_five{
    /*background: antiquewhite;*/
}
.section_five .head{
    width: 100%;
}
.section_five .head h1{
    text-align: center;
    color: #545454;
    margin: 0;
}
.section_five .head .head_line{
    background: #54d7e0;
    margin: 0 auto;
    height: 2px;
}
.section_five .body{
    width: 100%;
}
.section_five .body ul{
    margin: 0;
}
.section_five .body ul li{
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
}
.section_five .body ul li img{
    width: 55px;
    height: 55px;
}
.section_five .body ul li .text{
    display: flex;
    flex-direction: column;
}
.section_five .body ul li h1{
    text-align: left;
    color: #494949;
    font-weight: 600;
    margin: 0;
}
.section_five .body ul li h2{
    text-align: left;
    color: #8E8E8E;
    margin: 0;
}
.section_six{
    background: #F2F2F2;
}
.section_six .header{
    height: 100%;
    width: 100%;
}
.section_six .header h1{
    font-family:"微软雅黑";
    font-weight:normal;
    font-style:normal;
    color:#494949;
    text-align: center;
    margin: 0;
}
.section_six .header h2{
    color: #8d9095;
    text-align: center;
    margin: 0;
}
.section_six .header .bot_bor{
    background: #36d3db;
    margin: 20px auto;
}
.section_six .body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section_six .body .box{
    padding: 0;
}
.section_six .body .box h1{
    color:#494949 ;
    text-align: center;
    background: white;
}
.section_six .bott h1{
    text-align: center;
    color: #494949;
}
.section_six .bott .btn{
    width: 100%;
    height: 100%;
}
.section_six .bott .btn .content{
    background:#333333 ;
    border-radius: 70px;
    margin: 0 auto;
    cursor: pointer;
}
.section_six .bott .btn .content:hover h1{
    background: white;
    border: 1px solid #333;
    color: #333;
    border-radius: 70px;
}
.section_six .bott .btn .content h1{
    font-family: "微软雅黑";
    color: #fff;
    line-height: 46px;
    margin: 0;
}
.section_six .btn .content h1{
    font-size: 16px;
}
footer{
    background: #2C2C2C;
    display: flex;
    flex-direction: column;
}
footer .top{
    width: 100%;
    padding: 40px 20px 0 20px;
    display: block;
}
footer .top ul{
    /*background: pink;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .top ul li{
    /*background: aqua;*/
}
footer .top ul .word {
    color:#808080;
    text-align: left;
}
footer .bottom{
    width: 100%;
    background: #2C2C2C;
    display: block;
}
footer .bottom h6{
    color:#808080;
    text-align: center;
}
footer .top .pic img{
    width: 100px;
    height: 100px;
    display: block;
    margin-top: 20px;
}
/*小小屏幕 手机 col-xs- >320px*/
@media screen and (min-width:320px) {
    .bg .bg_black .head {
        display: none;
    }
    .head_min {
        display: block;
        height: 40px;
        position: relative;
    }
    .head_min .left {
        height: 40px;
        width: 40px;
        margin: 0 auto;
    }
    .head_min .left h1 {
        font-size: 16px;
        line-height: 40px;
        margin: 0;
    }
    .head_min .right{
        height: 40px;
        width: 40px;
        /*background:red ;*/
        float: right;
        /*margin-top: -40px;*/
        position: absolute;
        top: 48px;
        right: 0;
        display: none;
    }
    .head_min .right img {
        width: 14px;
        height: 14px;
        display: block;
        margin: 13px auto;
    }
    .head_min .right_return{
        height: 40px;
        width: 40px;
        /*background:red ;*/
        float: right;
        /*margin-top: -40px;*/
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }
    .head_min .right_return img {
        width: 14px;
        height: 14px;
        display: block;
        margin: 13px auto;
    }
    .head_min .head_xiala{
        width: 100%;
        position: absolute;
        left: 0;
        top:40px;
        height: 0;
        margin: 0;
        overflow: hidden;
        transition: all .5s;
    }
    .head_min .head_xiala li{
        height: 40px;
        width: 100%;
        background:rgba(242,242,242,0.3) ;
        border-bottom: 1px solid rgba(3,3,3,0.2);
        font-size: 16px;
        color: white;
        text-align: center;
        line-height: 40px;
        cursor: pointer;

    }
    .head_min .head_xiala a{
        text-decoration: none;
    }
    .head_min .head_xiala li.hot{
        color: #36d3db;
    }
    .bg .bg_black .body{
        height: 44px;
        margin: 290px auto;
    }
    .bg .bg_black .body h1{
        height: 24px;
        font-size: 24px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }
    .bg .bg_black .body h2{
        height:16px;
        margin: 40px 0 0 0;
        font-size: 16px;
    }
    .bottom {
        height: 431px;
    }
    .bottom li img{
        width: 80px;
        height: 75px;
    }
    .bottom li h1{
        font-size: 12px;
        line-height: 20px;
    }
    .section_one .header{
        padding: 53px 15px 25px 15px;
    }
    .section_one .header h1{
        font-size:20px;
    }
    .section_one .header h2{
        padding:0 0 20px 0;
    }
    .section_one .header .bot_bor{
        height: 4px;
        width:60px;
    }
    .section_one ul li{
        height: 280px;
        border-left: 5px solid #fff;
        border-right: 5px solid #fff;
    }
    .section_one ul li .icon{
        height:166px;
        padding: 60px 0 34px 0;
    }
    .section_one ul li .bot{
        width: 60px;
        height: 4px;
        margin: 0 auto 60px;
        background: #fff;
    }
    .section_one ul li h1{
        font-size:16px;
    }
    .section_two .header{
        padding: 53px 15px 25px 15px;
    }
    .section_two .header h1{
        font-size:20px;
    }
    .section_two .header h2{
        padding:0 0 20px 0;
    }
    .section_two .header .bot_bor{
        height: 4px;
        width:60px;
    }
    .section_two ul li{
        height: 230px;
        padding: 20px 10px 38px 10px;
        border:2px solid #f2f2f2;
    }
    .section_two ul li h2{
        font-size:15px ;
        margin: 25px auto 25px;
    }
    .section_two ul li h1{
        font-size:12px;
        line-height: 1.8em;
    }
    .section_two .btn{
        padding: 44px 0 50px 0;
    }
    .section_two .btn .content h1{
        font-size: 14px;
        margin: 0;
    }
    .section_three{
        width: 100%;
        /*background: beige;*/
        padding: 20px 15px 64px 20px;
        height: 1055px;
    }
    .section_three .btn{
        width: 100%;
        height: 100%;
        padding: 44px 0 15px 0;
    }
    .section_four{
        width: 100%;
        /*background: beige;*/
        padding: 20px 15px 64px 20px;
        height: 1055px;
    }
    .section_four .btn{
        width: 100%;
        height: 100%;
        padding: 44px 0 15px 0;
    }
    .section_five{
        padding-bottom: 20px;
    }
    .section_five .head{
        padding: 52px 15px 20px 15px;
    }
    .section_five .head h1{
        font-size: 24px;
    }
    .section_five .head .head_line{
        width: 50px;
        margin-top: 10px;
    }
    .section_five .body ul{
        padding:20px 0 20px 0; ;
    }
    .section_five .body ul li{
        height: 106px;
        padding: 5px 10px 5px 15px;
    }
    .section_five .body ul li img{
        width: 55px;
        height: 55px;
    }
    .section_five .body ul li h1{
        margin-bottom: 10px;
        font-size: 16px;
    }
    .section_five .body ul li h2{
        line-height: 1.5em;
        font-size: 12px;
    }
    .section_five .body ul li .text{
        margin-left: 20px;
    }

    .section_six .body .box img{
        width: 266px;
        height: 200px;
        display: block;
        margin: 0 auto;
    }
    .section_six .header{
        padding: 53px 15px 25px 15px;
    }
    .section_six .header h1{
        font-size:20px;
    }
    .section_six .header h2{
        padding:0 0 20px 0;
        font-size: 16px;
    }
    .section_six .header .bot_bor{
        height: 4px;
        width:60px;
    }
    .section_six .body .box{
        height: 230px;
        margin: 0 auto 10px;
    }
    .section_six .body .box h1{
        font-size: 16px;
        margin: 0;
        padding: 5px 0 10px 0;
        height: 39px;
        line-height: 39px;
    }
    .section_six .bott h1{
        font-size: 13px;
        margin: 0;
        padding: 40px 0 24px 0;
        line-height:1.7em ;
    }
    .section_six .bott .btn .content h1{
        font-size: 14px;
        padding: 0;
    }
    .section_six .btn{
        padding: 15px 0 50px 0;
    }
    .section_six .bott .btn .content{
        width: 178px;
        height: 46px;
    }
    footer .top{
        display: none;
    }
    footer .bottom{
        display: block;
        height: 150px;
        padding: 35px 10px 0 10px;
    }
    footer .bottom h6{
        line-height: 2em;
    }
}
/*小屏幕 平板 col-sm- >768px*/
@media screen and (min-width: 768px) {
    .head_min {
        width: 100%;
        height: 48px;
        display: block;
    }
    .head_min .left {
        height: 48px;
        width: 48px;
        /*background: red;*/
        margin: 0 auto;
        /*float: left;*/
    }
    .head_min .left h1 {
        font-size: 20px;
        color: #fff;
        line-height: 48px;
        text-align: center;
        margin: 0;
    }
    .head_min .head_xiala {

        top: 48px;

    }
    .head_min .right {
        height: 48px;
        width: 48px;
        /*background:red ;*/
        float: right;
        margin-top: -48px;
    }
    .head_min .right img {
        width: 14px;
        height: 14px;
        display: block;
        margin: 17px auto;
    }
    .bg .bg_black .body {
        height: 62px;
        margin: 280px auto;
    }
    .bg .bg_black .body h1 {
        height: 30px;
        font-size: 30px;
    }
    .bg .bg_black .body h2 {
        height: 16px;
        margin: 16px 0 0 0;
        font-size: 16px;
    }
    .section_one .header h1 {
        font-size: 28px;
    }
    .section_one ul li {
        height: 341px;
        border-left: 5px solid #fff;
        border-right: 5px solid #fff;
    }
    .section_one ul li .icon {
        height: 196px;
        padding: 97px 0 34px 0;
    }
    .section_one {
        padding-bottom: 100px;
    }
    .section_two .header {
        padding: 53px 150px 25px 150px;
    }
    .section_two .header h1 {
        font-size: 28px;
    }
    .section_two .header h2 {
        padding: 8px 0 8px 0;
    }
    .section_two .header .bot_bor {
        height: 2px;
        width: 68px;
    }
    .section_two ul li {
        height: 220px;
        padding: 25px 10px 38px 10px;
    }
    .section_two ul li h2 {
        font-size: 18px;
        margin: 28px auto 28px;
    }
    .section_two ul li h1 {
        font-size: 14px;
        line-height: 1.8em;
    }
    .section_two .btn .content h1 {
        font-size: 16px;
    }
    .section_three ul .pic .dot {
        /*background: green;*/
        height: 12px;
        width: 66px;
        position: absolute;
        bottom: 30px;
        left: 45%;
    }
    .section_three .btn .content h1 {
        font-size: 16px;
    }
    .section_three {
        width: 100%;
        height: 868px;
        /*background: beige;*/
        padding: 20px 15px 64px 10px;
    }
    .section_four ul .pic .dot {
        /*background: green;*/
        height: 12px;
        width: 66px;
        position: absolute;
        bottom: 30px;
        left: 45%;
    }
    .section_four .btn .content h1 {
        font-size: 16px;
    }
    .section_four {
        width: 100%;
        height: 868px;
        /*background: beige;*/
        padding: 20px 15px 64px 10px;
    }
    .section_five .head {
        padding: 52px 15px 20px 15px;
    }
    .section_five .head h1 {
        font-size: 38px;
    }
    .section_five .head .head_line {
        width: 70px;
        margin-top: 20px;
    }
    .section_five .body ul {
        padding: 20px 0 20px 0;;
    }
    .section_five .body ul li {
        height: 80px;
        padding: 15px 30px 15px 30px;
    }
    .section_five .body ul li img {
        width: 55px;
        height: 55px;
    }
    .section_five .body ul li h1 {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .section_five .body ul li h2 {
        line-height: 1.5em;
        font-size: 13px;
    }
    .section_five .body ul li .text {
        margin-left: 50px;
    }
    .section_six .header {
        padding: 53px 150px 25px 150px;
    }
    .section_six .header h1 {
        font-size: 28px;
    }
    .section_six .header h2 {
        padding: 8px 0 8px 0;
        font-size: 16px;
    }
    .section_six .header .bot_bor {
        height: 2px;
        width: 68px;
    }
    .section_six .bott h1{
        font-size: 14px;
        margin: 0;
        padding: 45px 45px 24px 50px;
        line-height:2em ;
    }
}
/*中屏 普通pc端 col-md- >992px*/
@media screen and (min-width: 992px) {
    .head_min {
        display: none;
    }
    .bg .bg_black .head {
        display: block;
    }
    .bg .head ul {
        /*width: 70%;*/
        margin-left: 30px;
    }
    .bg .head ul li {
        margin-left: 30px;
    }
    .bg .head ul li i {
        width: 30px;
        position: absolute;
        left: 30px;
        top: 35px;
    }
    .bg .bg_black .body {
        height: 76px;
        margin: 223px auto;
    }
    .bg .bg_black .body h1 {
        height: 36px;
        font-size: 36px;
    }
    .bg .bg_black .body h2 {
        height: 20px;
        margin: 20px 0 0 0;
        font-size: 20px;
    }
    .section_one .header {
        height: 100%;
        width: 100%;
        padding: 53px 290px 25px 290px;
    }
    .section_one .header h1 {
        font-family: "微软雅黑";
        font-size: 34px;
        font-weight: normal;
        font-style: normal;
        color: #494949;
        text-align: center;
        margin: 0;
    }
    .section_one .header h2 {
        padding: 10px 0 20px 0;
        font-size: 16px;
        color: #8d9095;
        text-align: center;
        margin: 0;
    }
    .section_one .header .bot_bor {
        height: 2px;
        width: 68px;
        background: #36d3db;
        margin: 20px auto;
    }
    .section_one ul {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
    }
    .section_one ul li {
        height: 390px;
        background-color: rgba(54, 211, 219, 0.9);
        padding: 0 0 79px 0;
        border-left: 20px solid #fff;
        border-right: 20px solid #fff;
    }
    .section_one ul li .icon {
        height: 225px;
        padding: 97px 0 64px 0;
    }
    .section_one ul li .icon img {
        width: 64px;
        height: 64px;
        display: block;
        margin: 0 auto;
    }
    .section_one ul li .bot {
        width: 60px;
        height: 4px;
        margin: 0 auto 60px;
        background: #fff;
    }
    .section_one ul li h1 {
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        color: #ffffff;
        margin: 0;
        text-align: center;
    }
    .section_one {
        padding-bottom: 100px;
    }
    .section_two .header {
        padding: 70px 260px 25px 260px;
    }
    .section_two .header h1 {
        font-family: "微软雅黑";
        font-size: 34px;
        font-weight: normal;
        font-style: normal;
        color: #494949;
        text-align: center;
        margin: 0;
    }
    .section_two .header h2 {
        padding: 10px 0 20px 0;
        font-size: 16px;
        margin: 0;
    }
    .section_two .header .bot_bor {
        height: 2px;
        width: 68px;
        margin: 30px auto;
    }
    .section_two ul li {
        height: 244px;
        padding: 34px 24px 30px 24px;
        border: 5px solid #f2f2f2;
    }
    .section_two ul li .icon {
        height: 58px;
    }
    .section_two ul li h2 {
        font-size: 18px;
        margin: 25px auto 20px;
    }
    .section_two ul li h1 {
        font-size: 15px;
    }
    .section_two .btn {
        width: 100%;
        height: 100%;
        padding: 64px 0 100px 0;
    }
    .section_two .btn .content {
        width: 178px;
        height: 46px;
        background: #36d3db;
        border-radius: 70px;
        margin: 0 auto;
        cursor: pointer;
    }
    .section_two .btn .content h1 {
        font-family: "微软雅黑";
        font-size: 16px;
        color: #fff;
        line-height: 46px;
        margin: 0;
    }
    .section_three {
        padding: 55px 15px 64px 10px;
        height: 650px;
    }
    .section_three ul {
        width: 100%;
        height: auto;
        position: relative;
    }
    .section_three ul .pic {
        /*background: antiquewhite;*/
        height: 524px;
        padding: 24px 13px 0 13px;
        display: block;
        margin: 0 auto;
        position: relative;
        /*border: 1px solid black;*/
    }
    .section_three ul .pic .dot {
        position: absolute;
        bottom: 30px;
        left: 43%;
    }
    .section_three ul .pic .dot .small {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        float: left;
        margin: 0 5px 0 5px;
    }
    .section_three ul .word {
        padding: 45px 90px 45px 60px;
        /*border: 1px solid black;*/
        height: 524px;
    }
    .section_three ul .word h1 {
        font-family: "微软雅黑";
        font-size: 32px;
        font-weight: normal;
        font-style: normal;
        color: #494949;
        text-align: left;
    }
    .section_three ul .word h2 {
        font-size: 14px;
        color: rgb(141, 144, 149);
        margin: 20px 0 0 0;
        line-height: 2em;
    }
    .section_three .btn {
        width: 100%;
        height: auto;
        padding: 50px 0 0 0;
    }
    .section_three .btn .content {
        width: 178px;
        height: 46px;
        background: #36d3db;
        border-radius: 70px;
        cursor: pointer;
        margin: 0;
    }
    .section_three .btn .content h1 {
        font-family: "微软雅黑";
        font-size: 16px;
        color: #fff;
        line-height: 46px;
        margin: 0;
        text-align: center;
    }
    .section_four {
        padding: 55px 15px 64px 10px;
        height: 650px;
    }
    .section_four ul {
        width: 100%;
        height: auto;
        position: relative;
    }
    .section_four ul .pic {
        /*background: antiquewhite;*/
        height: 524px;
        padding: 24px 13px 0 13px;
        display: block;
        margin: 0 auto;
        position: relative;
        /*border: 1px solid black;*/
    }
    .section_four ul .pic .dot {
        position: absolute;
        bottom: 30px;
        left: 43%;
    }
    .section_four ul .pic .dot .small {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        float: left;
        margin: 0 5px 0 5px;
    }
    .section_four ul .word {
        padding: 45px 90px 45px 60px;
        /*border: 1px solid black;*/
        height: 524px;
    }
    .section_four ul .word h1 {
        font-family: "微软雅黑";
        font-size: 32px;
        font-weight: normal;
        font-style: normal;
        color: #494949;
        text-align: left;
    }
    .section_four ul .word h2 {
        font-size: 14px;
        color: rgb(141, 144, 149);
        margin: 20px 0 0 0;
        line-height: 2em;
    }
    .section_four .btn {
        width: 100%;
        height: auto;
        padding: 50px 0 0 0;
    }
    .section_four .btn .content {
        width: 178px;
        height: 46px;
        background: #36d3db;
        border-radius: 70px;
        cursor: pointer;
        margin: 0;
    }
    .section_four .btn .content h1 {
        font-family: "微软雅黑";
        font-size: 16px;
        color: #fff;
        line-height: 46px;
        margin: 0;
        text-align: center;
    }
    .section_five .head {
        padding: 91px 15px 36px 15px;
    }
    .section_five .head h1 {
        font-size: 40px;
    }
    .section_five {
        padding-bottom: 80px;
    }
    .section_five .head .head_line {
        width: 80px;
        margin-top: 10px;
    }
    .section_five .body ul {
        padding: 20px 0 20px 0;;
    }
    .section_five .body ul li {
        height: 140px;
        padding: 15px;
    }
    .section_five .body ul li img {
        width: 60px;
        height: 60px;
    }
    .section_five .body ul li h1 {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .section_five .body ul li h2 {
        line-height: 1.5em;
        font-size: 13px;
    }
    .section_five .body ul li .text {
        margin-left: 40px;
    }
    .section_six .header {
        padding: 70px 260px 25px 260px;
    }
    .section_six .header h1 {
        font-size: 34px;
    }
    .section_six .header h2 {
        padding: 10px 0 20px 0;
        font-size: 16px;
    }
    .section_six .body .box{
        height: 230px;
        margin: 0 auto 10px;
        border: 10px solid #F2F2F2;
    }
    .section_six .body .box h1{
        font-size: 16px;
        margin: 0;
        padding: 5px 0 10px 0;
        height: 39px;
        line-height: 39px;
    }
    .section_six .body .box img{
        width: 214px;
        height: 161px;
        display: block;
        margin: 0 auto;
    }
    .section_six .bott h1{
        font-size: 14px;
        margin: 0;
        padding: 15px 45px 15px 50px;
        line-height:2em ;
    }
    .section_six .bott .btn .content{
        width: 230px;
        height: 60px;
    }
    .section_six .bott .btn .content h1{
        font-size: 18px;
        padding: 0;
        line-height: 60px;
    }
    footer .top ul li{
        width: 200px;
    }
    footer .top ul li h1{
        font-size: 16px;

    }
    footer .top .word h2{
        font-size: 12px;

    }
    footer .top .word h3{
        font-size: 12px;
        margin-top: 0;
    }
    footer .top .word h4{
        font-size: 12px;
        margin-top: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    footer .top .word h5{
        font-size: 12px;
        margin-top: 0;
    }
    footer .top{
        display: block;
    }
    footer .bottom{
        display: block;
        height: 150px;
        padding: 35px 10px 0 10px;
    }
    footer .bottom h6{
        line-height: 2em;
    }
    footer .bottom{
        display: block;
        height: 70px;
        padding:10px 10px 0 10px;
    }
}
/*大屏 大屏幕pc端 col-lg- >1200px*/
@media screen and (min-width: 1200px) {
    .head_min {
            display: none;
        }
    .bg .bg_black .head {
            display: block;
        }
    .bg .head ul {
            /*width: 100%;*/
            margin-left: 55px;
        }
    .bg .head ul li {
            margin-left: 55px;
        }
    .bg .head ul li i {
            width: 32px;
            position: absolute;
            left: 55px;
            top: 35px;
        }
    .bg .bg_black .body{
        height: 76px;
        margin: 223px auto;
    }
    .bg .bg_black .body h1{
        height: 36px;
        margin: 0;
        font-size: 36px;
    }
    .bg .bg_black .body h2{
        height:20px;
        margin: 20px 0 0 0;
        font-size: 20px;
    }
    .bottom {
        padding: 20px 0 45px 0;
        width: 100%;
        height: 248px;
        background-color: rgba(0,0,0,0.8);
    }
    .bottom li{
        /*background: green;*/
        height: 183px;
        /*border: 1px solid #fff;*/
        padding: 30px 15px 0 15px;
    }
    .bottom li img{
        width: 90px;
        height: 82px;
        display: block;
        margin: 0 auto;
    }
    .bottom li h1{
        font-size: 13px;
        font-family: "微软雅黑";
        color: #A9A9A9;
        text-align: center;
        line-height: 30px;
    }
    .section_one ul li{
        height: 390px;
        background-color: rgba(54,211,219,0.9);
        padding: 0 0 79px 0;
        border-left: 30px solid #fff;
        border-right: 30px solid #fff;
    }
    .section_one ul li .icon img{
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 auto;
    }
    .section_two{
        height: 100%;
        width: 100%;
        background: #F2F2F2;
    }
    .section_two .header{
        height: 100%;
        width: 100%;
        padding: 90px 290px 25px 290px;
    }
    .section_two .header h1{
        font-family:"微软雅黑";
        font-size:34px;
        font-weight:normal;
        font-style:normal;
        color:#494949;
        text-align: center;
        margin: 0;
    }
    .section_two .header h2{
        padding:10px 0 20px 0;
        font-size: 16px;
        color: #8d9095;
        text-align: center;
        margin: 0;
    }
    .section_two .header .bot_bor{
        height: 2px;
        width: 68px;
        background: #36d3db;
        margin: 30px auto 20px;
    }
    .section_two ul{
        width: 100%;
        height: 100%;
        margin-bottom: 0;
    }
    .section_two ul li{
        height: 244px;
        background-color: #fff;
        padding: 35px 45px 35px 45px;
        border:5px solid #f2f2f2;
    }
    .section_two ul li .icon{
        height:58px;
    }
    .section_two ul li .icon img{
        width: 58px;
        height:58px;
        display: block;
        margin: 0 auto;
    }
    .section_two ul li h2{
        font-size:20px ;
        margin: 20px auto 20px;
        color: rgb(51,51,51);
        text-align: center;
    }
    .section_two ul li h1{
        font-size:14px;
        font-weight:normal;
        font-style:normal;
        color: rgb(105,105,105);
        text-align: center;
    }
    .section_two .btn{
        width: 100%;
        height: 100%;
        padding: 64px 0 100px 0;
    }
    .section_two .btn .content{
        width: 178px;
        height: 46px;
        background:#36d3db ;
        border-radius: 70px;
        margin: 0 auto;
        cursor: pointer;
    }
    .section_two .btn .content h1{
        font-family: "微软雅黑";
        font-size: 16px;
        color: #fff;
        line-height: 46px;
        margin: 0;
    }
    .section_three{
        padding: 55px 15px 0 288px;
        height:650px;
        /*background: aqua;*/
    }
    .section_three ul{
        width: 100%;
        position: relative;
    }
    .section_three ul .pic{
        /*background: antiquewhite;*/
        height: 524px;
        padding: 24px 13px 0 13px;
        display: block;
        margin: 0 auto;
        position: relative;
        /*border: 1px solid black;*/
    }
    .section_three ul .pic .dot{
        position: absolute;
        bottom: 30px;
        left: 43%;
    }
    .section_three ul .pic .dot .small{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        float: left;
        margin: 0 5px 0 5px;
    }
    .section_three ul .word{
        padding: 45px 0 45px 60px;
        /*border: 1px solid black;*/
        height: 524px;
        margin-left: 40px;
    }
    .section_three ul .word h1{
        font-family:"微软雅黑";
        font-size:38px;
        font-weight:normal;
        font-style:normal;
        color:#494949;
        text-align: left;
    }
    .section_three ul .word h2{
        font-size: 14px;
        color: rgb(141, 144, 149);
        margin: 20px 0 0 0;
        line-height: 2em;
    }
    .section_three .btn{
        width: 100%;
        padding: 30px 0 0 0;
    }
    .section_three .btn .content{
        width: 178px;
        height: 46px;
        background:#36d3db ;
        border-radius: 70px;
        cursor: pointer;
        margin: 0;
    }
    .section_three .btn .content h1{
        font-family: "微软雅黑";
        font-size: 16px;
        color: #fff;
        line-height: 46px;
        margin: 0;
        text-align: center;
    }
    .section_four{
        padding: 55px 15px 0 288px;
        height:650px;
        /*background: aqua;*/
    }
    .section_four ul{
        width: 100%;
        position: relative;
    }
    .section_four ul .pic{
        /*background: antiquewhite;*/
        height: 524px;
        padding: 24px 13px 0 13px;
        display: block;
        margin: 0 90px;
        position: relative;

        /*border: 1px solid black;*/
    }
    .section_four ul .pic .dot{
        position: absolute;
        bottom: 30px;
        left: 43%;
    }
    .section_four ul .pic .dot .small{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        float: left;
        margin: 0 5px 0 5px;
    }
    .section_four ul .word{
        padding: 45px 0 45px 60px;
        /*border: 1px solid black;*/
        height: 524px;
    }
    .section_four ul .word h1{
        font-size:38px;
        font-weight:normal;
        font-style:normal;
        color:#494949;
        text-align: left;
    }
    .section_four ul .word h2{
        font-size: 14px;
        margin: 20px 0 0 0;
        line-height: 2em;
    }
    .section_four .btn{
        width: 100%;
        padding: 30px 0 0 0;
    }
    .section_four .btn .content{
        width: 178px;
        height: 46px;
        margin: 0;
    }
    .section_four .btn .content h1{
        font-size: 16px;
        line-height: 46px;
        margin: 0;
    }
    .section_six .body .box{
        height: 230px;
        margin: 0 auto 10px;
        border: 10px solid #F2F2F2;
    }
    .section_six .body .box h1{
        font-size: 16px;
        margin: 0;
        padding: 5px 0 10px 0;
        height: 39px;
        line-height: 39px;
    }
    .section_six .body .box img{
        width: 265px;
        height: 191px;
        display: block;
    }
    .section_six .bott h1{
        font-size: 14px;
        margin: 0;
        padding: 30px 200px 30px 200px;
        line-height:2em ;
    }

}
