.bg{
    width:100%;
    /*background: red;*/
    background-image: url(https://ccdn.goodq.top/caches/0aa02806352a2c565f61961c812e84a8/aHR0cDovLzU3ZTI0M2FhYTc3OWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNi8xMC85OThkYTkxZjgwZmI0ODc2NTgyMjYwNDU3MGFjZGY0Ni5qcGc_p_p100_p_3D.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 0 0;
}
.bg_black{
    background-color: rgba(28,28,28,0.6);
    width: 100%;
    height: 100%;
}
.bg .bg_black .head{
    width: 100%;
    padding:35px 40px 35px 40px;
    height: 100px;
    display: block;
    /*background:green;*/
}
.bg .bg_black .head .left{
    /*width:130px;*/
    float: left;
    /*background: red;*/
}
.bg .bg_black .head .left img{
    width: 130px;
    height: 30px;
}
.bg .head ul{
    margin-bottom: 0;
    float: left;
    position: relative;
}
.bg .head ul li{
    height: 30px;
    /*background:orange;*/
    float: left;
}
.bg .head ul li a{
    padding: 3px 0;
}
.bg .head ul li span{
    font-size: 16px;
    color: #efefef;
    line-height: 30px;
}
.bg .head ul li i{
    height: 1px;
    background: #efefef;
}
.bg .head .right {
    width: 156px;
    /*background: blue;*/
    padding: 3px 0 3px 0;
    float: right;
}
.bg .bg_black .head .right .pic{
    width: 27px;
    height:24px;
    float: left;
}
.bg .bg_black .head .right .pic img{
    width: 27px;
    height:24px;
}
.bg .bg_black .head .right .shu{
    height: 20px;
    width: 1px;
    background: #efefef;
    margin: 2px 10px 0 10px;
    float: left;
}
.bg .bg_black .head .right h1{
    font-size: 20px;
    color: #fff;
    margin: 0;
    height: 24px;
    line-height:24px;
}
.head_min{
    width: 100%;
    background: #36D3DB;
    display: none;
    /*margin-top: -20px;*/
}
.head_min .left{
    /*background: red;*/
    margin: 0 auto;
}
.head_min .left h1{
    color: #fff;
    text-align: center;
    margin: 0;
}
.head_min .right{
    float: right;
}
.head_min .right img{
    width: 14px;
    height: 14px;
    display: block;
}
main{
    width: 100%;
}
main h1{
    color: #000;
}
main .pic img{
    width:286px ;
    height: 191px;
}
main h5{
    color: rgb(89, 89, 89);
}

footer{
    background: #2C2C2C;
    display: flex;
    flex-direction: column;
}
footer .top{
    width: 100%;
    padding: 40px 20px 0 20px;
    display: block;
}
footer .top ul{
    /*background: pink;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .top ul li{
    /*background: aqua;*/
}
footer .top ul .word {
    color:#808080;
    text-align: left;
}
footer .bottom{
    width: 100%;
    background: #2C2C2C;
    display: block;
}
footer .bottom h6{
    color:#808080;
    text-align: center;
}
footer .top .pic img{
    width: 100px;
    height: 100px;
    display: block;
    margin-top: 20px;
}
/*小小屏幕 手机 col-xs- >320px*/
@media screen and (min-width:320px) {
    .bg{
        height: 120px;
    }
    .bg .bg_black .head {
        display: none;
    }
    .head_min {
        display: block;
        height: 40px;
    }
    .head_min .left {
        height: 40px;
        width: 40px;
    }
    .head_min .left h1 {
        font-size: 16px;
        line-height: 40px;
    }
    .head_min .right{
        height: 40px;
        width: 40px;
        margin-top: -40px;
    }
    .head_min .right img {
        margin: 13px auto;
    }
    main{
        padding: 20px 15px;
    }
    main h1{
        font-size: 20px;
        line-height: 1.5em;
        text-align: center;
    }
    main .date{
        display: flex;
        flex-direction: column;
    }
    main .date h2{
        text-align: left;
        font-size: 14px;
        margin: 0;
    }
    main .date h3{
        text-align: left;
        font-size: 14px;
        margin: 5px 0 5px 0;
    }
    main .date h4{
        text-align: left;
        font-size: 14px;
        margin: 0;
    }
    main .date .share h6{
        font-size: 16px;
        height: 30px;
        line-height: 30px;
    }
    main h5{
        font-size: 15px;
        line-height: 1.8em;
    }
    main .next h1{
        font-size: 14px;
        text-align: left;
    }
    main .next h3{
        font-size: 13px;
        text-align: left;
        margin-top: 0;

    }
    main .next h2{
        font-size: 14px;
    }
    footer .top{
        display: none;
    }
    footer .bottom{
        display: block;
        height: 150px;
        padding: 35px 10px 0 10px;
    }
    footer .bottom h6{
        line-height: 2em;
    }
}
/*小屏幕 平板 col-sm- >768px*/
@media screen and (min-width: 768px) {
    .head_min {
        height: 48px;
    }
    .head_min .left {
        height: 48px;
        width: 48px;
    }
    .head_min .left h1 {
        font-size: 20px;
        line-height: 48px;
    }
    .head_min .right {
        height: 48px;
        width: 48px;
        margin-top: -48px;
    }
    .head_min .right img {
        margin: 17px auto;
    }
    main h1{
        font-size: 28px;
    }
}
/*中屏 普通pc端 col-md- >992px*/
@media screen and (min-width: 992px) {
    .bg{
        height: 220px;
    }
    .head_min {
        display: none;
    }
    .bg .bg_black .head {
        display: block;
    }
    .bg .head ul {
        margin-left: 30px;
    }
    .bg .head ul li {
        margin-left: 30px;
    }
    .bg .head ul li i {
        width: 65px;
        position: absolute;
        left: 185px;
        top: 35px;
    }
    main{
        padding: 20px 40px 40px 40px;
    }
    main h1{
        font-size: 28px;
        text-align: left;
        margin-bottom: 0;
    }
    main .date{
        display: flex;
        flex-direction: row;
    }
    main .pic{
        margin-bottom: 25px;
    }
    main .date{
        width: 100%;
    }
    main .date h2{
        height: 20px;
        line-height: 50px;
        margin: 0;
    }
    main .date h3{
        height: 20px;
        line-height: 50px;
        margin: 0 0 0 40px;
    }
    main .date h4{
        height: 20px;
        line-height: 50px;
        margin: 0 0 0 40px;
    }
    main .date .share {
        margin-left: 40px;
    }
    main .next{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
    main .next .next_top{
        display: flex;
        flex-direction: row;
    }
    main .next .next_top h1{
        margin: 20px 0 10px 0;
        height: 20px;
        line-height: 20px;
    }
    main .next .next_top h3{
        margin: 20px 0 10px 20px;
        height: 20px;
        line-height: 20px;
    }
    footer .top ul li{
        width: 200px;
    }
    footer .top ul li h1{
        font-size: 16px;

    }
    footer .top .word h2{
        font-size: 12px;

    }
    footer .top .word h3{
        font-size: 12px;
        margin-top: 0;
    }
    footer .top .word h4{
        font-size: 12px;
        margin-top: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    footer .top .word h5{
        font-size: 12px;
        margin-top: 0;
    }
    footer .top{
        display: block;
    }
    footer .bottom{
        display: block;
        height: 150px;
        padding: 35px 10px 0 10px;
    }
    footer .bottom h6{
        line-height: 2em;
    }
    footer .bottom{
        display: block;
        height: 70px;
        padding:10px 10px 0 10px;
    }
}
/*大屏 大屏幕pc端 col-lg- >1200px*/
@media screen and (min-width: 1200px) {
    .bg .head ul {
        margin-left: 55px;
    }
    .bg .head ul li {
        margin-left: 55px;
    }
    .bg .head ul li i {
        width: 65px;
        position: absolute;
        left: 260px;
        top: 35px;
    }
    main{
        padding: 20px 250px 60px 250px;
    }
    main h1{
        font-size: 30px;
        text-align: left;
        margin-top: 0;
    }
    main .next{
        margin-top:40px;
    }
    main h5{
        line-height: 2.1em;
    }
    footer .top ul li{
        width: 230px;
    }



}